#nav {
  width:90%;
  margin:0 auto;
  padding-top:10px;
  border-bottom:5px dotted orange; 
}

li {
display:inline-block;
}  

.page-link {
  float:right;
margin-right:20px;
}

body {
background-color: lightblue;
}

.page-link a {
text-decoration:none;
color:gray;
}

.page-link a:hover {
  color:black;
}