/* Your CSS Here */
body {
  background-color: white;
  font-family: lato;
}
.pictureBoxes, #pictureDisplay {
  border: 2px white;
  display: inline-block;
  height: 25vh;
  width: 13vw;
  position: relative;
  left: 41%;
 /*Change this so that is only affects .pictureBoxes*/
  margin-top: 15vh;
  margin: auto;
  white-space: nowrap;
}

.pictureBoxes {
  top: 10vh;
}

#boxHold {
  width: 100%;
  height: 100%;
  padding-right: 45%;
  padding-top: 20%;
}

h1 {
  position: relative;
  left: 43%;
}

#pictureDisplay {
  margin-left: 24.75%;
  bottom: 112vh;
  height: 42vh;
  width: 25vw;
}

img{
  background-position: center;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  padding-top: 1.5vh;
  text-align: center;
  position: absolute;
  left: 62.5%;
  bottom: 48.5vh;
  height: 6vh;
  width: 12vw;
  background-color: black;
  color: white;
  font-family: lato;
  border: none;
  font-size: 150%;
}

#storeButton {
  bottom: 55vh;
}

a:hover {
  text-decoration: none;
  background-color: gray;
  color: black;
}
