body {
  background-color: black;
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 0px;
}

nav {
  width: 90%;
  margin: 0 auto;
  vertical-align: middle;
  overflow-y: auto;
  height: 5%;
}

li {
  display: inline-block;
  color: white;
  padding-bottom: 0.5%;
}

.pageLinks {
  float: right;
  padding-top: 1%;
}

.pageLinks a {
  text-decoration: none;
  background-size: 100% 100%;
  padding: 100% 20px;
  background-size: cover;
  background-origin: border-box;
  color: white;
}

.pageLinks a:hover {
  background-color: gray;
}
 
#backgroundImage {
  background-image: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/YRFOETH2F7.jpg");
  width: auto;
  height: 50vh; 
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
} 

#pictureText {
  line-height: 100%;
  margin: 18%;
}

#pictureText h1, #pictureText p {
  font-weight: 300;
}

button {
  color: white;
  padding: 1.25vh 1vw;
  border-radius: 5px;
  background-color: rgb(62, 171, 240);
  border: none;
  box-shadow: none;
}

#restPage {
  background-color: rgb(23, 28, 37);
  height: 100%;
  width: 100%;
}

#restPage h1  {
  border-left: 2px solid rgb(62, 171, 240);
  margin-top: 0;
  position: relative;
  padding-left: 1%;
  font-weight: 300;
}

#boxHolder {
  margin: 2% 25%;
  vertical-align: middle;
}

#restPage h1 {
  margin: 0 25%;
}

.squares {
  position: relative;
  margin: 0.5%;
  clear:right;
  display: inline-block;
  height: 33vh;
  width: 15vw;
  border: .1px solid white;
}

table {
  text-align: center;
  height: 50vh;
  width: 100%;
}

th, td {
  color: white;
  border-bottom: 1px solid white
}

td {
  width: 20%;
}

.tableHead {
  background-color: rgb(100,100,100);
  background-size: 100% 100%;
  padding: 2% 20px;
}

.ticketButtons {
  position: relative;
  background-color: white;
  color: gray;
  border-radius: 0;
  font-family: lato, sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%
}

.ticketButtons:hover {
  background-color: gray;
  color: white;
}

#dateTitle {
  margin: 1% auto;
  border-bottom: 2px solid white;
  width: 20%;
  text-align: center;
}

#datePage {
  background-color: rgb(23, 28, 37);
}

















